<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
  <link href="styles/viewpost.css" rel="stylesheet" type="text/css">
  <title>Chin Xi's personal blog</title>
</head>

<body>
  <%- include ('partials/navbar.ejs') %>

  <div class="container">
    <br>
    <div class="text-center">
      <h2 id="web_title">My previous post!</h2>
    </div>
    <br>
    <div>
      <% if (journal) { %>

        <% if(context) { %>
          
          <div class="alert alert-success text-center" role="alert" id="success-alert">
           <%= context %>
          </div>
          <script>
            setTimeout(() => {
                document.getElementById('success-alert').style.display = 'none';
            }, 3000);
        </script>
          <%} %>
        <% journal.forEach((journal, index) => { %>

            <% if (index % 3 === 0) { %>
              <div class="row mb-4">
            <% } %>

            <div class="col-md-4 mb-4">
              <div class="card">
                <img class="card-img-top" src="/images/<%=journal.journal_photo %>" alt="Card image" style="width: 100%" height="300px">
                <div class="card-body"> 
                  <h5 class="card-title"><%= journal.journal_title%></h5> 
                  <p class="card-text">Entered on: <%= formattedDate %></p> 
                  <button class="btn" data-bs-toggle="modal" data-bs-target="#myModal<%=journal.journal_id %>" id="display_btn">Display All</button> 
                  <button class="btn"></i><a href="/editPost/<%= journal.journal_id %>" id="edit_btn"><i class="fa-solid fa-pen"id="pen"></i>Edit</a></button>
                  <button class="btn btn-danger" data-bs-toggle="modal"><i class="fa-solid fa-trash-can"id="bin"></i><a id="del_btn" href="/deletePost/<%= journal.journal_id %>" onclick="return confirm('Are you sure you want to delete this product')">Delete</a></button>
                </div>
              </div>
            </div>

            <% if ((index + 1) % 3 === 0) { %>
              </div>
            <% } %>

            <div class="modal fade" id="myModal<%=journal.journal_id %>" tabindex="-1" aria-labelledby="scrollableModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                  <!-- Modal Header -->
                  <div class="modal-header">
                    <h4 class="modal-title"><%= journal.journal_title %></h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                  </div>
                  <!-- Modal body -->
                  
                  <div class="modal-body">
                    <h6>Journal Entry:</h6>
                    <%= journal.journal_description %>
                   <br>
                   <br>
                    <h6>Date:</h6>
                    <%= journal.journal_date.toLocaleDateString('en-GB', { day: '2-digit', month: 'short', year: 'numeric' }) %>

                    <h6>
                      Image:
                    </h6>
                    <img class="card-img-top" src="/images/<%=journal.journal_photo %>" alt="Card image" style="width: 100%" height="350px">
                  </div>
                  <!-- Modal footer -->
                  <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                  </div>
            
                </div>
              </div>
            </div>

        <% }); %>

        <% if (journal.length % 3 !== 0) { %>
          </div>
        <% } %>

        
      <% } else { %>
        <p>No journal entries have been found.</p>
      <% } %>

      <div>
        <br>
        <a href="/">Back</a>
      </div>

    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>